
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.marvel {
    width: 10vw;
}
.dc {
    width: 5vw;
}
.search {
    color: gray;
    margin-top: 15px;
}

.searchlist {
    width: 25vw;
    margin: auto;
}